<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreeMind Health Services</title>
    <link rel="stylesheet" href="/public/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
    <header>
        <h1> FreeMind </h1>
        <nav class=" green lighten-3">
            <ul class="right">
                <!--Replace the # with the links to the other page.-->
                <!--This makes sure that the navbar is clickable and useful-->
                <li><a href="/public/html/home.html"> Home</a></li>
                <li><a href="/public/html/journal.html"> Journal </a></li>
                <li><a href="/public/html/map.html">Provider finder Maps</a></li>                
                <li><a href="/public/html/faq.html"> FAQ Page </a></li>
                 <!--we need to make sure that the user is logged in, in order to view the maps and journal-->
                <li><a href="/public/html/login.html"> Log in </a></li>
                <li><a href="/public/html/signup.html"> Sign Up</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!--width="1100" height="400"-->
        <section>
            <article>
                <div class="photoContainer">
                    <img src="/assets/images/counselingPhoto.jpg" alt="main background photo for the home page.">
                </div>
                <h2 class="card-panel teal darken-2 center-align"> Start Getting the help you need and deserve! </h2>
                <div>
                    <p>
                        <!--Maybe put a paragraph of information here. The thought kind of just came to mind. If not this area can be altered-->
                    </p>
                </div>
                <div class="row center-align">
                    <div class="col s6">
                        <h3> Signing Up Is Easy! </h3>
                        <!-- May change the paragraph here-->
                        <p>
                            Mental health includes our emotional, psychological, and social well-being. It affects how
                            we think, feel, and act. It also helps determine how we handle stress, relate to others, and
                            make choices. Mental health is important at every stage of life, from childhood and
                            adolescence through adulthood.Mental health is not just a concept that refers to an
                            individuals psychological and emotional well being. Rather its a state of psychological and
                            emotional well being where an individual is able to use their cognitive and emotional
                            capabilities, meet the ordinary demand and functions in the society. According to WHO, there
                            is no single official definition of mental health.
                            Sign up and have access to 24-hour Resources. Take advantage of our journal resource to take
                            quality time in yourself to express how you feel. All information is confidental and only
                            seen by you. You will also gain access to having a map to locate any mental and medical
                            resource that you may need.
                        </p>
                    </div>
                    <div class="col s6">
                        <div class="mapCard">
                        <div class="row">
                            <div class="col s12 m7">
                                <div class="card ">
                                    <div class="card-image">
                                        <img src="/assets/images/mapimage.jpg">
                                        <span class="card-title"></span>
                                    </div>
                                    <div class="card-content">
                                        <p>Click Here to find a list of resources near you!</p>
                                    </div>
                                    <div class="card-action hoverable">
                                        <!--This will take the user to the map page.-->
                                        <a href="#">Click Me!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div>
                    <h5 class="center-align"> Frequently Asked Questions </h5>
                    <p class="faq center-align">
                        <!--The href will make the FAQ clickable.-->
                        Visit our <a href="/public/html/faq.html"> FAQ</a> page for additional questions and support.
                    </p>
                </div>

            </article>
        </section>
    </main>
    <footer class="page-footer card-panel teal darken-2 right-align" >
            <div class="row">
                <div class="col s7">
                    <span> Remember that you are worth it. In case of emergency dial 9-1-1.
                    </span>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>