<!DOCTYPE html>
<html>
  <head>
    <title>FreeMind Resource Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/map.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>
  <header>
    <h1> FreeMind </h1>
    <nav class=" green lighten-3">
            <ul class="right">
                <!--Replace the # with the links to the other page.-->
                <!--This makes sure that the navbar is clickable and useful-->
                <li><a href="/homepage/home.html"> Home</a></li>
                <li><a href="/journalpage/journal.html"> Journal </a></li>
                <li><a href="/map/map.html">Provider finder Maps</a></li>                
                <li><a href="/faqpage/faq.html"> FAQ Page </a></li>
                 <!--we need to make sure that the user is logged in, in order to view the maps and journal-->
                <li><a href="/loginpage/login.html"> LOG IN </a></li>
                <li><a href="/signuppage/signup.html"> Sign Up</a></li>
            </ul>
    </nav>
</header>
  <body>
      <!-- second nav bar revealed at 390px -->
      <nav class="burgerbar">
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
          </a>
      </nav>
   </header>
   <main>
    <div id="container">
      <div id="map" ></div>
      <div id="demo" ></div>
      <div id="sidebar" class="results">
        <h2>Family Therapy Providers near you:</h2>
        <ul id="places"></ul>
        <button style="font-size:24px;color:blue" id="more">Load More <i class="material-icons">local_pharmacy</i></button>
      </div>
    </div>
  </main>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCn-gvMvru5lgLwSVtR1rrejaRC3I1yaHU&libraries=geometry,places&callback=initMap">
</script>
<script rel="module" src="/controllers/lmftMap.js"></script>
  </body>
</html>
